{"openapi": "3.0.0", "info": {"description": "This is a sample Flai Open Api. Use Token in the headers for access data. Write us to get new token - support@flaidata.com", "version": "1.0.0", "title": "Flai API Open"}, "servers": [{"url": "https://flaidata.tiktok-alltrends.com:442"}], "paths": {"/api/datapoint/sounds": {"get": {"tags": ["sounds"], "summary": "Get sounds", "parameters": [{"schema": {"type": "string", "example": "rise", "default": "new", "enum": ["new", "rise", "rate", "reposts", "forecasting"]}, "in": "query", "name": "sorting", "allowEmptyValue": true, "description": "sorting of items"}, {"schema": {"type": "integer", "default": "10", "example": "100"}, "in": "query", "name": "take", "description": "how much items to get"}, {"schema": {"type": "string", "example": "Original", "enum": ["Original", "Repost"]}, "in": "query", "name": "soundType", "description": "original sound or not"}, {"schema": {"type": "integer", "default": 1, "example": 7, "enum": [1, 3, 7, 30, 90]}, "in": "query", "name": "Days", "description": "time period for Daily rise"}, {"schema": {"type": "string", "example": "US"}, "in": "query", "name": "VideosLocation", "description": "location of videos, where they was created (use ISO 3166-1 alpha-2 for country  code)"}, {"schema": {"type": "integer", "example": 95, "enum": [90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 131, 105, 121, 119, 113, 185, 127, 107, 152, 151, 145, 153, 159, 161, 154, 118, 102, 106, 109, 134, 137, 158, 162, 129, 116, 157, 126, 149, 132, 114, 108, 112, 123, 156, 133, 110, 128, 135, 125, 165, 138, 103, 188, 144, 148, 142, 150, 104, 120, 146, 143, 117, 140, 160, 139, 115, 111, 122, 155, 124, 141, 136, 147, 130, 181, 183, 173, 171, 180, 167, 190, 170, 186, 163, 169, 172, 174, 175, 176, 177, 179, 182, 187, 166, 168, 184, 178, 164, 189]}, "in": "query", "name": "Category", "description": "video category (100 main TikTok categories)"}, {"schema": {"type": "string", "enum": ["artist", "notartist"], "example": "artist"}, "in": "query", "name": "isArtist", "description": "is Artist author of sound or not"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "object", "properties": {"musicId": {"type": "string"}, "reposts": {"type": "integer"}, "duration": {"type": "integer"}, "album": {"type": "string"}, "url": {"type": "string"}, "title": {"type": "string"}, "creator": {"type": "string"}, "musicOriginal": {"type": "integer"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "parser": {"type": "string"}, "dailyRise": {"type": "integer"}, "artistRegion": {"type": "string"}}}, "examples": {"default": {"value": {"data": {"stats": [{"music": {"musicId": "7078311682217036545", "reposts": 663, "duration": 5, "album": "", "url": "https://v77.tiktokcdn.com/8cd7ee9a7fdad45348788d345287bde3/64ff5d6d/video/tos/alisg/tos-alisg-v-27dcd7/9c0f4dcf777844be8e0af0fedbde10dd/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TBkLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=ZGg1NztoOWU6aWZnOzk5Z0BpajNwNTY6ZnltOzMzODU8NEBgLWEuMTYuXjIxNS5fYzE1YSM1anJscjRfYXFgLS1kMS1zcw%3D%3D&l=20230911173311ABAB3403CADD25627CAA&btag=e00088000&cc=13&download=true", "title": "\u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u044b\u0439 \u0437\u0432\u0443\u043a - \u0418\u0440\u0438\u043d\u0430 \u0415\u043b\u0438\u0441\u0435\u0435\u0432\u0430", "creator": "\u0418\u0440\u0438\u043d\u0430 \u0415\u043b\u0438\u0441\u0435\u0435\u0432\u0430", "musicOriginal": true, "parseDate": "2023-09-11T15:22:56.325545", "updateDate": "2023-09-11T15:22:56.325545", "parser": "SoundItem", "dailyRise": 0, "artistRegion": "RU"}}, {"music": {"musicId": "7263669589697940230", "reposts": 1590, "duration": 23, "album": "", "url": "https://v16m.tiktokcdn-us.com/070504ed4b16e88bbc3a2fcd4f74a6a2/64ffa3cf/video/tos/useast5/tos-useast5-ve-27dcd7c799-tx/oEBJmLPuQCCHmPPT2oEgY1e513NUKekoQteTSv/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=t5PLr-Inz7TBkLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=NGY2OTllZ2lmOmU7ZjY4OkBpajxvcjw6ZjV1bTMzNzU8M0A0NDU1X2JiXzAxXzIzNWEuYSM0azBzcjRnbjNgLS1kMTZzcw%3D%3D&l=2023091117331258567F4F7A36C5072F91&btag=e00008000&download=true", "title": "sonido original", "creator": "AldairCarrillo", "musicOriginal": true, "parseDate": "2023-09-11T15:22:56.325545", "updateDate": "2023-09-11T15:22:56.325545", "parser": "SoundItem", "dailyRise": 0, "artistRegion": "CO"}}, {"music": {"musicId": "7263435533275515650", "reposts": 94, "duration": 11, "album": "", "url": "https://v77.tiktokcdn.com/c29f82ecbb53393a3a8a830bd686a6db/65008d6e/video/tos/alisg/tos-alisg-v-27dcd7/oIfZJOWfkQQpUuBZ0Bz8dGgDYunFjzCDkgbPEI/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TLUKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=ODY7ZWc8NTo4Omc6ODZpM0BpanloZjk6ZjxobTMzODU8NEAxNDQvNDMwXjMxNTBjMDJeYSNpLmVgcjQwZDNgLS1kMS1zcw%3D%3D&l=20230912101009ABB29D828E354B8475CC&btag=e00088000&cc=13&download=true", "title": "\uc624\ub9ac\uc9c0\ub110 \uc0ac\uc6b4\ub4dc - enhypen", "creator": "enhypen", "musicOriginal": true, "parseDate": "2023-09-11T15:22:56.325545", "updateDate": "2023-09-12T10:10:26.312805", "parser": "SoundItem", "dailyRise": 0, "artistRegion": "KR"}}, {"music": {"musicId": "7275144337172384517", "reposts": 21, "duration": 55, "album": "", "url": "https://v77.tiktokcdn.com/95db366458eca57a897f0a588bd9bfa8/65004748/video/tos/useast2a/tos-useast2a-v-27dcd7/oQJsbCn96gPBUeJhk3x9EbJUQQ52BmLYOeJoDy/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TYUKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=PDhnNjtpZmllN2kzOjVkOEBpanI2djc6Zmk7bTMzNzU8M0BjNGIwMWIyXi4xXjZjNTZfYSNyZm5xcjRfL29gLS1kMTZzcw%3D%3D&l=202309121010074F4D1283F8F65900A610&btag=e00088000&cc=13&download=true", "title": "som original", "creator": "Pop Mundo News", "musicOriginal": true, "parseDate": "2023-09-11T15:22:56.325545", "updateDate": "2023-09-12T10:10:26.312805", "parser": "SoundItem", "dailyRise": 0, "artistRegion": "BR"}}, {"music": {"musicId": "7184117852214692613", "reposts": 21900, "duration": 45, "album": "", "url": "https://v77.tiktokcdn.com/2caacbb426ddff896eb676c6a2e46fd5/65004737/video/tos/useast2a/tos-useast2a-v-27dcd7/owbHSLAdjSBcEfPzBYeDQ0nnUsCJ5y8UI0btJx/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TSFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=OjloOGhoNjQ5Ojg1ZzNlZ0Bpanl5NmY6ZjxraDMzNzU8M0BiMzUwNDU2Ni0xLzY0NF5iYSNiYWBhcjRvbm1gLS1kMTZzcw%3D%3D&l=202309121010009E90E7C4AB678D029470&btag=e00088000&cc=13&download=true", "title": "\u0627\u0644\u0635\u0648\u062a \u0627\u0644\u0623\u0635\u0644\u064a", "creator": "\u064a\u0627\u0633\u0631 \u0639\u0628\u062f \u0627\u0644\u0648\u0647\u0627\u0628", "musicOriginal": true, "parseDate": "2023-09-11T15:22:25.892215", "updateDate": "2023-09-12T10:10:26.312805", "parser": "SoundItem", "dailyRise": 100, "artistRegion": "IQ"}}, {"music": {"musicId": "6968741171635964674", "reposts": 2652, "duration": 39, "album": "", "url": "https://v58.tiktokcdn.com/video/tos/alisg/tos-alisg-v-27dcd7/58b3b8bcab4e491eaa5e9e0d6d28be0f/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TSFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=Zmg7ZWdoMzs7aDY0ZmU4NUBpajZ5dnI7dGp5NTMzODU8M0A2MjItYWE2NTMxYzFfMjIwYSNvMmgwX2twL25gLS1kMTRzcw%3D%3D&l=2023091210100167038A8998151D81108B&VExpiration=1694535041&VSignature=7KJfWhtXzvmt7imVV7qFmQ&btag=e00088000&cc=14&download=true", "title": "\u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u044b\u0439 \u0437\u0432\u0443\u043a", "creator": "\u2618\ufe0f", "musicOriginal": true, "parseDate": "2023-09-11T15:22:25.892215", "updateDate": "2023-09-12T10:10:26.312805", "parser": "SoundItem", "dailyRise": 1, "artistRegion": "KZ"}}, {"music": {"musicId": "7017470020582263554", "reposts": 113900, "duration": 22, "album": "", "url": "https://v16m.tiktokcdn-us.com/0941c8098ab091890faa3bfc3de39d27/64ffa3ce/video/tos/useast5/tos-useast5-v-27dcd7c799-tx/b2ac22157a0e4c87a196f0736589fc96/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=t5PLr-Inz7TBkLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=Mzc7ZDM0aTVpaDg6ZTY2NkBpajR4Ojo6ZnFqODMzODU8NEAwMzE0Xl4uX2AxLy4xNjRjYSNlYDVgcjRnc2VgLS1kMS1zcw%3D%3D&l=202309111733120F4937728D0068017629&btag=e00008000&download=true", "title": "original sound", "creator": "\ud83c\udfb5MUSIC\ud83c\udfb5", "musicOriginal": true, "parseDate": "2023-09-11T15:21:24.835962", "updateDate": "2023-09-11T15:21:24.835962", "parser": "SoundItem", "dailyRise": 0, "artistRegion": "NP"}}, {"music": {"musicId": "7273693565233203973", "reposts": 90, "duration": 56, "album": "", "url": "https://v77.tiktokcdn.com/69264cfa2703d5ba986014a239f77d8f/64ffa3f1/video/tos/useast2a/tos-useast2a-v-27dcd7/o0ciqqziIfCzMmBemNhJOWUvBHKNtJXxkncnQi/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TikLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=ZTxoNTY1aDVoOjZnaGhmaEBpMzV4PDo6ZmtvbTMzNzU8M0AxXzQ1YmEyXi4xLjRfYzM0YSNnMm5icjRfZ2xgLS1kMTZzcw%3D%3D&l=202309111733119CFED1B645D3142BE28B&btag=e00088000&cc=13&download=true", "title": "original sound - MARVINTRENDS", "creator": "MARVINTRENDS", "musicOriginal": true, "parseDate": "2023-09-11T15:21:24.835962", "updateDate": "2023-09-11T15:21:24.835962", "parser": "SoundItem", "dailyRise": 0, "artistRegion": "PH"}}, {"music": {"musicId": "7265394417346530049", "reposts": 89, "duration": 15, "album": "", "url": "https://v77.tiktokcdn.com/8b297b5b442894102fecd7c35b1ad700/650046fc/video/tos/alisg/tos-alisg-v-27dcd7/ogDvDfUNJkhpnQBXB7zTS2f99cd0gCDIjA3rMU/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TzFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=aTwzPDM7MzdmZ2YzZzg1OEBpM2lnajY6Zml3bTMzODU8NEAzMC0yMjA0XzYxMjQwMV5fYSNeMnNlcjRnbzZgLS1kMS1zcw%3D%3D&l=20230912100932CCFE9FDFD7D92F00C8D6&btag=e00088000&cc=13&download=true", "title": "\u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u044b\u0439 \u0437\u0432\u0443\u043a", "creator": "\u0415\u043b\u0435\u043d\u0430", "musicOriginal": true, "parseDate": "2023-09-11T15:20:54.739817", "updateDate": "2023-09-12T10:09:45.313308", "parser": "SoundItem", "dailyRise": 0, "artistRegion": "US"}}, {"music": {"musicId": "7275849343784061701", "reposts": 193, "duration": 22, "album": "", "url": "https://v16m.tiktokcdn.com/644fd777712eb2a6da6b18b12559e93d/65008d4b/video/tos/useast2a/tos-useast2a-v-27dcd7/oMeEICDQOenBTWgAJ5ZIeByCbUSLPJYoB7QuuX/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TFFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=NjhlOmc0ZDo4M2g6NDg8OUBpMzNwZ2Q6ZnVqbTMzNzU8M0AxLmJjM14yXjIxYTVgXy8uYSMvNW9icjRnMXBgLS1kMTZzcw%3D%3D&l=20230912100924A5C3A105324545839825&btag=e00088000&cc=3&download=true", "title": "som original", "creator": "~isa (Lana's version)", "musicOriginal": true, "parseDate": "2023-09-11T15:20:24.439666", "updateDate": "2023-09-12T10:09:45.313308", "parser": "SoundItem", "dailyRise": 2, "artistRegion": "BR"}}]}}}}}}, "headers": {"Content-Length": {"schema": {"type": "integer", "example": 7732}}, "Content-Type": {"schema": {"type": "string", "example": "application/json; charset=utf-8"}}, "Server": {"schema": {"type": "string", "example": "Microsoft-IIS/10.0"}}, "Strict-Transport-Security": {"schema": {"type": "string", "example": "max-age=2592000"}}, "Set-Cookie": {"schema": {"type": "string", "example": ".AspNetCore.Culture=c%3Dru-RU%7Cuic%3Dru-RU; path=/"}}, "Date": {"schema": {"type": "string", "example": "Tue, 12 Sep 2023 11:18:56 GMT"}}}}}, "servers": [{"url": "https://flaidata.tiktok-alltrends.com:442"}], "description": "Get sounds or musics for customer given the sorting, take, soundType, Days, VideosLocation, Category, isArtist as parameters if it in customer request"}}, "/api/datapoint/authors": {"get": {"tags": ["author"], "summary": "Get authors", "parameters": [{"name": "take", "in": "query", "schema": {"type": "integer", "default": 10, "example": 5}, "example": "20", "description": "quantity rows for output data, by default 10 rows"}, {"name": "Verified", "in": "query", "schema": {"type": "string", "enum": ["verified", "unverified"]}, "description": "verified  or unverified"}, {"name": "SubscribersTo", "in": "query", "schema": {"type": "number", "example": 10000}, "description": "range for subscribers"}, {"name": "SubscribersFrom", "in": "query", "schema": {"type": "number", "example": 1000}, "description": "range for subscribers"}, {"name": "LikesTo", "in": "query", "schema": {"type": "number"}, "description": "range for likes"}, {"name": "LikesFrom", "in": "query", "schema": {"type": "number"}, "description": "range for likes"}, {"name": "ClipsTo", "in": "query", "schema": {"type": "number", "example": 5000}, "description": "range for clips"}, {"name": "ClipsFrom", "in": "query", "schema": {"type": "number", "example": 1000}, "description": "range for clips"}, {"name": "SubscribedTo", "in": "query", "schema": {"type": "number"}, "description": "range for Subscribed"}, {"name": "SubscribedFrom", "in": "query", "schema": {"type": "number"}, "description": "range for Subscribed"}, {"name": "VideosLocation", "in": "query", "schema": {"type": "string", "example": "GB"}, "description": "location of videos, where they was created (use ISO 3166-1 alpha-2 for country  code)"}, {"name": "ArtistLocation", "in": "query", "schema": {"type": "string", "example": "GB"}, "description": "location of authors, where they was registered  (use ISO 3166-1 alpha-2 for country  code)"}, {"name": "Sorting", "in": "query", "schema": {"type": "string"}, "example": "subs", "description": "sorting parameters"}, {"name": "Order", "in": "query", "schema": {"type": "string", "enum": ["asc", "desc"]}, "example": "desc", "description": "asc or desc"}, {"name": "Search", "in": "query", "schema": {"type": "string", "example": "khaby.lame"}, "description": "search by author name or nickname"}, {"name": "Days", "in": "query", "schema": {"type": "string"}, "description": "period for daily rise"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "object", "properties": {"authorId": {"type": "string"}, "subscribers": {"type": "integer"}, "subscribedAt": {"type": "integer"}, "clips": {"type": "integer"}, "likes": {"type": "integer"}, "diggCount": {"type": "integer"}, "uniqueId": {"type": "string"}, "nickname": {"type": "string"}, "signature": {"type": "string"}, "verified": {"type": "integer"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "region": {"type": "string"}}}, "examples": {"default": {"value": {"data": {"stats": [{"authorId": "127905465618821121", "subscribers": 161900000, "subscribedAt": 78, "clips": 1129, "likes": 2400000000, "diggCount": 6628, "uniqueId": "khaby.lame", "nickname": "Khabane lame", "signature": "Se vuoi ridere sei nel posto giusto\ud83d\ude0e \nIf u wanna laugh u r in the right place\ud83d\ude0e", "verified": true, "parseDate": "2022-09-28T20:42:12.488531", "updateDate": "2023-09-09T08:32:42.294335", "region": "IT"}, {"authorId": "5831967", "subscribers": 151100000, "subscribedAt": 1293, "clips": 2501, "likes": 11400000000, "diggCount": 11600, "uniqueId": "charlidamelio", "nickname": "charli d\u2019amelio", "signature": "if you ask me to remix below \ud83e\udd0d", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-09T03:46:07.134185", "region": "US"}, {"authorId": "6748458643983238149", "subscribers": 92700000, "subscribedAt": 615, "clips": 599, "likes": 2300000000, "diggCount": 9601, "uniqueId": "bellapoarch", "nickname": "Bella Poarch", "signature": "CRUSH out this Friday\ud83d\udc98", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-09T22:57:34.427331", "region": "US"}, {"authorId": "6703550784929793030", "subscribers": 88400000, "subscribedAt": 2615, "clips": 1769, "likes": 5800000000, "diggCount": 13300, "uniqueId": "addisonre", "nickname": "Addison\u2002Rae", "signature": "", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-11T07:39:56.869791", "region": "US"}, {"authorId": "6614519312189947909", "subscribers": 87100000, "subscribedAt": 326, "clips": 309, "likes": 850400000, "diggCount": 1155, "uniqueId": "mrbeast", "nickname": "MrBeast", "signature": "I want to make the world a better place before I die", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-10T11:23:28.072324", "region": "US"}, {"authorId": "68616495085350913", "subscribers": 78800000, "subscribedAt": 102, "clips": 422, "likes": 1100000000, "diggCount": 389, "uniqueId": "zachking", "nickname": "Zach King", "signature": "Bringing a little more wonder into the world, 15 seconds at a time", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-13T23:31:43.638635", "region": "US"}, {"authorId": "6596805238354558982", "subscribers": 77100000, "subscribedAt": 344, "clips": 2558, "likes": 4800000000, "diggCount": 5278, "uniqueId": "kimberly.loaiza", "nickname": "Kimberly Loaiza", "signature": "Hola Linduras \ud83d\ude4b\ud83c\udffb\u200d\u2640\ufe0f\nBye Bye Tour \ud83d\udc47\ud83c\udffb", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-11T20:51:12.578613", "region": "MX"}, {"authorId": "107955", "subscribers": 74800000, "subscribedAt": 578, "clips": 769, "likes": 306800000, "diggCount": 1367, "uniqueId": "tiktok", "nickname": "TikTok", "signature": "the \ud83d\udd70 app", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-11T17:14:57.804636", "region": "US"}, {"authorId": "6727327145951183878", "subscribers": 73600000, "subscribedAt": 31, "clips": 183, "likes": 522000000, "diggCount": 0, "uniqueId": "willsmith", "nickname": "Will Smith", "signature": "Same kid from West Philly.", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-08-26T01:36:05.336722", "region": "US"}, {"authorId": "6626035987700531205", "subscribers": 73600000, "subscribedAt": 0, "clips": 2471, "likes": 1400000000, "diggCount": 10400, "uniqueId": "cznburak", "nickname": "cznburak", "signature": "En G\u00fczel Ba\u011f Sevgidir\ud83e\udd17\u2764\ufe0f\n\ud83d\udc47NEW V\u0130DEO \ud83d\udc47", "verified": true, "parseDate": "2022-09-02T23:27:56", "updateDate": "2023-09-13T14:42:48.21831", "region": "TR"}]}}}}}}, "headers": {"Content-Length": {"schema": {"type": "integer", "example": 3352}}, "Content-Type": {"schema": {"type": "string", "example": "application/json; charset=utf-8"}}, "Server": {"schema": {"type": "string", "example": "Microsoft-IIS/10.0"}}, "Strict-Transport-Security": {"schema": {"type": "string", "example": "max-age=2592000"}}, "Set-Cookie": {"schema": {"type": "string", "example": ".AspNetCore.Culture=c%3Dru-RU%7Cuic%3Dru-RU; path=/"}}, "Date": {"schema": {"type": "string", "example": "Thu, 14 Sep 2023 08:50:17 GMT"}}}}}, "description": "Get authors or influencers for customer given the take, Verified, SubscribersTo, SubscribersFrom, LikesTo, LikesFrom, ClipsTo, ClipsFrom, SubscribedTo, SubscribedFrom, VideosLocation, ArtistLocation, Sorting, Order, Search, Days as parameters if it in customer request"}}, "/api/datapoint/author": {"get": {"tags": ["author"], "summary": "Get author info by id", "servers": [{"url": "https://flaidata.tiktok-alltrends.com:442"}], "parameters": [{"name": "authorId", "in": "query", "schema": {"type": "string"}, "example": "6703550784929793030", "description": "unique identificator"}, {"name": "period", "in": "query", "schema": {"type": "integer", "enum": [14, 7, 30], "example": 14}, "example": "14", "description": "period for states"}], "responses": {"200": {"description": "OK", "headers": {"Content-Length": {"schema": {"type": "integer", "example": "3352"}}, "Content-Type": {"schema": {"type": "string", "example": "application/json; charset=utf-8"}}, "Server": {"schema": {"type": "string", "example": "Microsoft-IIS/10.0"}}, "Strict-Transport-Security": {"schema": {"type": "string", "example": "max-age=2592000"}}, "Set-Cookie": {"schema": {"type": "string", "example": ".AspNetCore.Culture=c%3Dru-RU%7Cuic%3Dru-RU; path=/"}}, "Date": {"schema": {"type": "string", "example": "Thu, 14 Sep 2023 07:50:17 GMT"}}}, "content": {"application/json": {"schema": {"type": "object", "properties": {"author": {"type": "object", "properties": {"id": {"type": "string"}, "authorId": {"type": "string"}, "subscribers": {"type": "integer"}, "subscribedAt": {"type": "integer"}, "clips": {"type": "integer"}, "likes": {"type": "integer"}, "diggCount": {"type": "integer"}, "url": {"type": "string"}, "parser": {"type": "string"}, "uniqueId": {"type": "string"}, "nickname": {"type": "string"}, "avatar": {"type": "string"}, "signature": {"type": "string"}, "verified": {"type": "boolean"}, "isADVirtual": {"type": "boolean"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "region": {"type": "string"}, "subsDailyRise": {"type": "integer"}, "subsDailyRiseForecastError": {"type": "integer"}, "subsDailyRiseForecast": {"type": "integer"}, "subsGraphWeight": {"type": "integer"}, "isArtist": {"type": "boolean"}, "commercialCategory": {"type": "string"}, "authorIdLong": {"type": "integer"}, "subsDailyRise24hours": {"type": "integer"}}}, "states": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string"}, "authorId": {"type": "string"}, "subscribers": {"type": "integer"}, "subscribedAt": {"type": "integer"}, "clips": {"type": "integer"}, "likes": {"type": "integer"}, "diggCount": {"type": "integer"}, "parseDate": {"type": "string"}, "subscribersDailyRise": {"type": "integer"}, "subscribersDailyRiseForecastingError": {"type": "integer"}, "subscribersDailyRiseForecasting": {"type": "integer"}, "subscribersGraphWeight": {"type": "integer"}, "authorIdLong": {"type": "integer"}}}}, "challenges": {"type": "array", "items": {"type": "object", "properties": {}}}, "hashtags": {"type": "array", "items": {"type": "object", "properties": {"hashtag": {"type": "string"}, "count": {"type": "integer"}}}}, "videos": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string"}, "videoId": {"type": "string"}, "musicId": {"type": "string"}, "authorId": {"type": "string"}, "duetFromId": {"type": "string"}, "videoCreateTime": {"type": "string"}, "videoUrl": {"type": "string"}, "originalItem": {"type": "boolean"}, "officialItem": {"type": "boolean"}, "stickerText": {"type": "string"}, "isAd": {"type": "boolean"}, "videoTitle": {"type": "string"}, "taggetPeople": {"type": "string"}, "locationCreated": {"type": "string"}, "musicPlayUrl": {"type": "string"}, "musicTitle": {"type": "string"}, "musicOriginal": {"type": "boolean"}, "authorName": {"type": "string"}, "user": {"type": "string"}, "parser": {"type": "string"}, "likes": {"type": "integer"}, "commentsCount": {"type": "integer"}, "playCount": {"type": "integer"}, "shares": {"type": "integer"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "playCountDailyRise": {"type": "integer"}, "playCountDailyRiseForecastError": {"type": "integer"}, "playCountDailyRiseForecast": {"type": "integer"}, "playCountGraphWeight": {"type": "integer"}, "videoIdLong": {"type": "integer"}, "playCountDailyRise24hours": {"type": "integer"}, "videoDuration": {"type": "integer"}, "autor_id_long": {"type": "integer"}, "music_id_long": {"type": "integer"}, "video_id_long": {"type": "integer"}}}}, "music": {"type": "array", "items": {"type": "object", "properties": {"musicId": {"type": "string"}, "music": {"type": "object", "properties": {"id": {"type": "string"}, "musicId": {"type": "string"}, "reposts": {"type": "integer"}, "duration": {"type": "integer"}, "album": {"type": "string"}, "url": {"type": "string"}, "title": {"type": "string"}, "creator": {"type": "string"}, "musicOriginal": {"type": "boolean"}, "musicUrl": {"type": "string"}, "cover": {"type": "string"}, "recognitionTitle": {"type": "string"}, "recognitionDatePublished": {"type": "string"}, "recognitionAuthor": {"type": "string"}, "recognitionAlbum": {"type": "string"}, "recognitionLabel": {"type": "string"}, "recognitionLink": {"type": "string"}, "recognitionDate": {"type": "string"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "parser": {"type": "string"}, "dailyRise": {"type": "integer"}, "dailyRiseForecastingError": {"type": "integer"}, "dailyRiseForecasting": {"type": "number"}, "graphWeight": {"type": "number"}, "artistRegion": {"type": "string"}, "authorIdLong": {"type": "integer"}, "authorUniqueId": {"type": "string"}, "authorNickname": {"type": "string"}, "isArtist": {"type": "boolean"}, "musicIdLong": {"type": "integer"}, "dailyRiseMonth": {"type": "integer"}, "dailyRise24hours": {"type": "integer"}}}, "count": {"type": "integer"}}}}, "calculations": {"type": "object", "properties": {"authorId": {"type": "string"}, "trendViews": {"type": "integer"}, "trendLikes": {"type": "integer"}, "trendComments": {"type": "integer"}, "trendShares": {"type": "integer"}, "engagementRate": {"type": "integer"}, "discussionRate": {"type": "number"}, "involvementRate": {"type": "integer"}, "socialRate": {"type": "number"}, "averageDailyRise": {"type": "integer"}, "effectiveRate": {"type": "number"}, "predictionStability": {"type": "integer"}, "audienceEngangement": {"type": "number"}, "numberOfViews": {"type": "integer"}, "numberOfComments": {"type": "integer"}, "numberOfCommentsPer1000Likes": {"type": "number"}, "medianShares": {"type": "integer"}, "numberOfSharesPer1000Likes": {"type": "number"}, "averageLikes": {"type": "integer"}, "averageViews": {"type": "integer"}, "averageShares": {"type": "integer"}, "averageComments": {"type": "integer"}, "chartsCount": {"type": "integer"}}}, "mentionAuthors": {"type": "array", "items": {"type": "object", "properties": {"authorMentions": {"type": "array", "items": {"type": "object", "properties": {"author": {"type": "object", "properties": {"id": {"type": "string"}, "authorId": {"type": "string"}, "subscribers": {"type": "integer"}, "subscribedAt": {"type": "integer"}, "clips": {"type": "integer"}, "likes": {"type": "integer"}, "diggCount": {"type": "integer"}, "url": {"type": "string"}, "parser": {"type": "string"}, "uniqueId": {"type": "string"}, "nickname": {"type": "string"}, "avatar": {"type": "string"}, "signature": {"type": "string"}, "verified": {"type": "boolean"}, "isADVirtual": {"type": "boolean"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "region": {"type": "string"}, "subsDailyRise": {"type": "integer"}, "subsDailyRiseForecastError": {"type": "integer"}, "subsDailyRiseForecast": {"type": "integer"}, "subsGraphWeight": {"type": "integer"}, "isArtist": {"type": "boolean"}, "commercialCategory": {"type": "string"}, "authorIdLong": {"type": "integer"}, "subsDailyRise24hours": {"type": "integer"}}}, "views": {"type": "integer"}, "engagementRate": {"type": "number"}}}}, "count": {"type": "integer"}}}}, "duetAuthors": {"type": "array", "items": {"type": "object", "properties": {"authorDuets": {"type": "array", "items": {"type": "object", "properties": {"author": {"type": "object", "properties": {"id": {"type": "string"}, "authorId": {"type": "string"}, "subscribers": {"type": "integer"}, "subscribedAt": {"type": "integer"}, "clips": {"type": "integer"}, "likes": {"type": "integer"}, "diggCount": {"type": "integer"}, "url": {"type": "string"}, "parser": {"type": "string"}, "uniqueId": {"type": "string"}, "nickname": {"type": "string"}, "avatar": {"type": "string"}, "signature": {"type": "string"}, "verified": {"type": "boolean"}, "isADVirtual": {"type": "boolean"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "region": {"type": "string"}, "subsDailyRise": {"type": "integer"}, "subsDailyRiseForecastError": {"type": "integer"}, "subsDailyRiseForecast": {"type": "integer"}, "subsGraphWeight": {"type": "integer"}, "isArtist": {"type": "boolean"}, "commercialCategory": {"type": "string"}, "authorIdLong": {"type": "integer"}, "subsDailyRise24hours": {"type": "integer"}}}, "views": {"type": "integer"}, "engagementRate": {"type": "number"}}}}, "count": {"type": "integer"}}}}, "locationData": {"type": "array", "items": {"type": "object", "properties": {"locationCode": {"type": "string"}, "rate": {"type": "integer"}}}}, "categories": {"type": "array", "items": {"type": "object", "properties": {"categoryId": {"type": "integer"}, "categoryName": {"type": "string"}, "count": {"type": "integer"}, "percentage": {"type": "number"}}}}, "competitors": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string"}, "authorId": {"type": "string"}, "subscribers": {"type": "integer"}, "subscribedAt": {"type": "integer"}, "clips": {"type": "integer"}, "likes": {"type": "integer"}, "diggCount": {"type": "integer"}, "url": {"type": "string"}, "parser": {"type": "string"}, "uniqueId": {"type": "string"}, "nickname": {"type": "string"}, "avatar": {"type": "string"}, "signature": {"type": "string"}, "verified": {"type": "boolean"}, "isADVirtual": {"type": "boolean"}, "parseDate": {"type": "string"}, "updateDate": {"type": "string"}, "region": {"type": "string"}, "subsDailyRise": {"type": "integer"}, "subsDailyRiseForecastError": {"type": "integer"}, "subsDailyRiseForecast": {"type": "integer"}, "subsGraphWeight": {"type": "integer"}, "isArtist": {"type": "boolean"}, "commercialCategory": {"type": "string"}, "authorIdLong": {"type": "integer"}, "subsDailyRise24hours": {"type": "integer"}}}}, "authorsEngagementInfo": {"type": "object", "properties": {"max": {"type": "integer"}, "min": {"type": "integer"}, "avg": {"type": "number"}}}, "authorsEffectiveRateInfo": {"type": "object", "properties": {"max": {"type": "number"}, "min": {"type": "integer"}, "avg": {"type": "number"}}}, "authorDeletedClipsInfo": {"type": "array", "items": {"type": "object", "properties": {"year": {"type": "integer"}, "monthNumber": {"type": "integer"}, "month": {"type": "string"}, "monthsDeletedClips": {"type": "integer"}}}}, "authorAvgSubsDailyRise": {"type": "number"}, "minVideoCreateTime": {"type": "string"}}, "x-examples": {"Example 1": {"author": {"id": "1b50be0d-e7d0-4dd5-4f68-08d9e10b5a37", "authorId": "6703550784929793030", "subscribers": 88600000, "subscribedAt": 72, "clips": 1777, "likes": 1500000000, "diggCount": 15000, "url": "https://www.tiktok.com/@6703550784929793030", "parser": "UserItem", "uniqueId": "addisonre", "nickname": "Addison Rae", "avatar": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/ce3e24503ef9f21457f18c0f3d6da234~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1707040800&x-signature=o3%2Bas5lYinBMg8b%2BhHgZcKlXK%2FY%3D", "signature": "", "verified": true, "isADVirtual": false, "parseDate": "2024-01-19T00:00:00", "updateDate": "2024-02-02T10:22:49.063308", "region": "US", "subsDailyRise": 0, "subsDailyRiseForecastError": 1, "subsDailyRiseForecast": 0, "subsGraphWeight": 1, "isArtist": true, "commercialCategory": "", "authorIdLong": 0, "subsDailyRise24hours": 0}, "states": [{"id": "00000000-0000-0000-0000-000000000000", "authorId": "6703550784929793030", "subscribers": 88600000, "subscribedAt": 0, "clips": 1776, "likes": 1500000000, "diggCount": 0, "parseDate": "2024-01-19T00:00:00", "subscribersDailyRise": 0, "subscribersDailyRiseForecastingError": 0, "subscribersDailyRiseForecasting": 0, "subscribersGraphWeight": 0, "authorIdLong": 0}], "challenges": [], "hashtags": [{"hashtag": "#foryou", "count": 11}, {"hashtag": "#foryoupage", "count": 11}], "videos": [{"id": "00000000-0000-0000-0000-000000000000", "videoId": "6863663621667392773", "musicId": "6858616259425225478", "authorId": "6703550784929793030", "duetFromId": null, "videoCreateTime": "2020-08-22T04:40:33", "videoUrl": null, "originalItem": false, "officialItem": false, "stickerText": null, "isAd": false, "videoTitle": "i had to do it before my mom did.... goodnight dc @besperon", "taggetPeople": null, "locationCreated": null, "musicPlayUrl": null, "musicTitle": "WAP\uff08feat. Megan Thee Stallion\uff09", "musicOriginal": false, "authorName": "Addison Rae", "user": "addisonre", "parser": null, "likes": 25000000, "commentsCount": 429900, "playCount": 317700000, "shares": 1700000, "parseDate": "0001-01-01T00:00:00", "updateDate": "0001-01-01T00:00:00", "playCountDailyRise": 0, "playCountDailyRiseForecastError": 0, "playCountDailyRiseForecast": 0, "playCountGraphWeight": 0, "videoIdLong": 0, "playCountDailyRise24hours": 0, "videoDuration": 0, "autor_id_long": 6703550784929793000, "music_id_long": 6858616259425226000, "video_id_long": 6863663621667393000}, {"id": "00000000-0000-0000-0000-000000000000", "videoId": "6863982116959505669", "musicId": "6858616259425225478", "authorId": "6703550784929793030", "duetFromId": null, "videoCreateTime": "2020-08-23T01:16:22", "videoUrl": null, "originalItem": false, "officialItem": false, "stickerText": null, "isAd": false, "videoTitle": "#duet with @sherinicolee I- SHE WENT HARDER THAN ME", "taggetPeople": null, "locationCreated": null, "musicPlayUrl": null, "musicTitle": "WAP\uff08feat. Megan Thee Stallion\uff09", "musicOriginal": false, "authorName": "Addison Rae", "user": "addisonre", "parser": null, "likes": 17100000, "commentsCount": 164900, "playCount": 207400000, "shares": 145000, "parseDate": "0001-01-01T00:00:00", "updateDate": "0001-01-01T00:00:00", "playCountDailyRise": 0, "playCountDailyRiseForecastError": 0, "playCountDailyRiseForecast": 0, "playCountGraphWeight": 0, "videoIdLong": 0, "playCountDailyRise24hours": 0, "videoDuration": 0, "autor_id_long": 6703550784929793000, "music_id_long": 6858616259425226000, "video_id_long": 6863982116959505000}], "music": [{"musicId": "222452973421944832", "music": {"id": "3eac8ddd-e594-4460-64d0-08da9b2f16c2", "musicId": "222452973421944832", "reposts": 49800, "duration": 30, "album": "La Roux", "url": "https://sys-datapoint.flaidata.com/media/sounds/222452973421944832.mp3", "title": "Bulletproof", "creator": "La Roux", "musicOriginal": false, "musicUrl": "https://www.tiktok.com/music/Bulletproof-222452973421944832", "cover": null, "recognitionTitle": null, "recognitionDatePublished": null, "recognitionAuthor": null, "recognitionAlbum": null, "recognitionLabel": null, "recognitionLink": null, "recognitionDate": "2022-10-14T10:00:00", "parseDate": "2022-10-08T15:50:51.889", "updateDate": "2024-01-31T08:00:30.569872", "parser": "VideoItem", "dailyRise": -1, "dailyRiseForecastingError": 1, "dailyRiseForecasting": -4.13, "graphWeight": 1.01, "artistRegion": "GB", "authorIdLong": 6774436885651949000, "authorUniqueId": "ryanmolloyofficial", "authorNickname": "Ryan", "isArtist": true, "musicIdLong": 0, "dailyRiseMonth": 0, "dailyRise24hours": 0}, "count": 1}], "calculations": {"authorId": "6703550784929793030", "trendViews": 19599900000, "trendLikes": 2352174200, "trendComments": 19471158, "trendShares": 47375765, "engagementRate": 12, "discussionRate": 0.1, "involvementRate": 0, "socialRate": 0.24, "averageDailyRise": 0, "effectiveRate": 15600.76, "predictionStability": 0, "audienceEngangement": 5.64, "numberOfViews": 13, "numberOfComments": 1213, "numberOfCommentsPer1000Likes": 0.15, "medianShares": 2563, "numberOfSharesPer1000Likes": 0.31, "averageLikes": 0, "averageViews": 0, "averageShares": 0, "averageComments": 0, "chartsCount": 0}, "mentionAuthors": [{"authorMentions": [{"author": {"id": "5b170874-0dac-4df1-72bb-08daa639c22a", "authorId": "6711346759140787206", "subscribers": 13800000, "subscribedAt": 994, "clips": 356, "likes": 346900000, "diggCount": 29500, "url": "https://www.tiktok.com/@6711346759140787206", "parser": null, "uniqueId": "sherinicolee", "nickname": "sheri", "avatar": null, "signature": "mom\ud83c\udf39\n\nsherieasterling@a3artistsagency.com", "verified": true, "isADVirtual": false, "parseDate": "2022-10-05T18:12:47.255183", "updateDate": "2024-02-01T10:25:08.244275", "region": "US", "subsDailyRise": 0, "subsDailyRiseForecastError": 0, "subsDailyRiseForecast": 0, "subsGraphWeight": 0, "isArtist": false, "commercialCategory": null, "authorIdLong": 0, "subsDailyRise24hours": 0}, "views": 12300000, "engagementRate": 13.821138211382115}], "count": 3}, {"authorMentions": [{"author": {"id": "5a76879a-acb0-44d8-9bc1-7bed63f50fb0", "authorId": "6669413008797925381", "subscribers": 1000000, "subscribedAt": 2009, "clips": 1283, "likes": 22400000, "diggCount": 0, "url": "https://www.tiktok.com/@6669413008797925381", "parser": null, "uniqueId": "oliviamassucci", "nickname": "Olivia massucci", "avatar": "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/69ecdccfe83c14285284987fb82261a6~c5_1080x1080.jpeg?lk3s=a5d48078&x-expires=1707037200&x-signature=bZCRgHglnn745R0moyUl8VyQVW0%3D", "signature": "A 20 yr old living in Orange County \n\ud83d\udc8c oliviamassucci@gmail.com", "verified": false, "isADVirtual": false, "parseDate": "2023-06-28T03:31:26.915757", "updateDate": "2024-02-02T00:39:12.421657", "region": "US", "subsDailyRise": 0, "subsDailyRiseForecastError": 0, "subsDailyRiseForecast": 0, "subsGraphWeight": 0, "isArtist": false, "commercialCategory": null, "authorIdLong": 0, "subsDailyRise24hours": 0}, "views": 5300000, "engagementRate": 13.475471698113209}], "count": 1}], "duetAuthors": [{"authorDuets": [{"author": {"id": "60b29458-5d26-4dff-504a-08d9e10b5a37", "authorId": "6695090655742002182", "subscribers": 4900000, "subscribedAt": 573, "clips": 444, "likes": 179200000, "diggCount": 25400, "url": "https://www.tiktok.com/@6695090655742002182", "parser": null, "uniqueId": "micahcow", "nickname": "Micahcow", "avatar": null, "signature": "Micahcowbiz@gmail.com", "verified": true, "isADVirtual": false, "parseDate": "2022-09-02T23:27:56", "updateDate": "2024-01-27T12:39:14.137763", "region": "US", "subsDailyRise": 0, "subsDailyRiseForecastError": 0, "subsDailyRiseForecast": 0, "subsGraphWeight": 0, "isArtist": false, "commercialCategory": null, "authorIdLong": 0, "subsDailyRise24hours": 0}, "views": 16800000, "engagementRate": 5.616666666666666}], "count": 1}], "locationData": [{"locationCode": "US", "rate": 690}], "categories": [{"categoryId": 134, "categoryName": "Talents", "count": 232, "percentage": 21.3}], "competitors": [{"id": "f094d7d5-660d-4b44-85dd-883d7cf6d31d", "authorId": "6735918689625588741", "subscribers": 282000, "subscribedAt": 128, "clips": 36, "likes": 14400000, "diggCount": 0, "url": "https://www.tiktok.com/@6735918689625588741", "parser": "region", "uniqueId": "luke.canhoop", "nickname": "LUKAS", "avatar": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7b11d93ed981dc11cf8aa914456395de~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1707019200&x-signature=ROtaEtqcB9Z88SiW%2BcI%2F3KSt%2B0c%3D", "signature": "We ball", "verified": false, "isADVirtual": false, "parseDate": "2023-07-10T08:54:16.349663", "updateDate": "2024-02-02T04:23:36.257026", "region": "US", "subsDailyRise": -33, "subsDailyRiseForecastError": 1, "subsDailyRiseForecast": -33, "subsGraphWeight": 1, "isArtist": false, "commercialCategory": "", "authorIdLong": 0, "subsDailyRise24hours": 0}], "authorsEngagementInfo": {"max": 100, "min": 0, "avg": 8.85}, "authorsEffectiveRateInfo": {"max": 28475.27, "min": 0, "avg": 100.2}, "authorDeletedClipsInfo": [{"year": 2024, "monthNumber": 1, "month": "January", "monthsDeletedClips": 1}], "authorAvgSubsDailyRise": -3658.54, "minVideoCreateTime": "2019-07-10T20:36:02"}}}}}}}, "description": "Get information about single author or analyze account for customer given the authorId, period as parameters if it in customer request"}}}, "tags": [{"name": "video", "description": "get videos` info by parameters and videoId"}, {"name": "sounds", "description": "get sounds` info by parameters and soundId"}, {"name": "author", "description": "get authors` info by parameters and authorId"}, {"name": "test", "description": "test if api correct work with token"}]}