{
  "openapi": "3.0.0",
  "info": {
    "description": "This is a sample Flai Open Api. Use Token in the headers for access data. Write us to get new token - support@flaidata.com",
    "version": "1.0.0",
    "title": "Flai API Open"
  },
  "servers": [
    {
      "url": "https://flaidata.tiktok-alltrends.com:442"
    }
  ],
  "paths": {
    "/api/datapoint/test": {
      "get": {
        "tags": [
          "test"
        ],
        "summary": "Test",
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s",
            "description": "Token for data access"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": "Ok"
                  }
                }
              }
            },
            "headers": {
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/plain; charset=utf-8"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=2592000"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": ".AspNetCore.Culture=c%3Dru-RU%7Cuic%3Dru-RU; path=/"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 14 Sep 2023 07:49:53 GMT"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://flaidata.tiktok-alltrends.com:442"
          }
        ]
      }
    },
    "/api/datapoint/videos": {
      "get": {
        "tags": [
          "video"
        ],
        "summary": "Get videos by parameters",
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s",
            "description": "Token for data access"
          },
          {
            "schema": {
              "type": "string",
              "example": "rise",
              "default": "new",
              "enum": [
                "new",
                "rise",
                "rate",
                "playCount",
                "forecasting",
                "likes",
                "comments",
                "shares",
                "new",
                "duration"
              ]
            },
            "in": "query",
            "name": "sorting",
            "allowEmptyValue": true,
            "description": "sorting of items"
          },
          {
            "schema": {
              "type": "integer",
              "default": "10",
              "example": "100"
            },
            "in": "query",
            "name": "take",
            "description": "how much items to get"
          },
          {
            "schema": {
              "type": "string",
              "example": "dance"
            },
            "in": "query",
            "name": "hashtag",
            "description": "videos with this hashtag"
          },
          {
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 7,
              "enum": [
                1,
                7,
                30,
                90
              ]
            },
            "in": "query",
            "name": "days",
            "description": "time period for Daily rise"
          },
          {
            "schema": {
              "type": "string",
              "example": "US"
            },
            "in": "query",
            "name": "VideosLocation",
            "description": "location of videos, where they was created (use ISO 3166-1 alpha-2 for country  code)"
          },
          {
            "schema": {
              "type": "string",
              "example": "US"
            },
            "in": "query",
            "name": "artistLocation",
            "description": "location where author from (use ISO 3166-1 alpha-2 for country  code)"
          },
          {
            "schema": {
              "type": "integer",
              "default": 7,
              "example": 3
            },
            "in": "query",
            "name": "periodDate",
            "description": "date-time period when video was created"
          },
          {
            "schema": {
              "type": "integer",
              "example": 95,
              "enum": [
                90,
                91,
                92,
                93,
                94,
                95,
                96,
                97,
                98,
                99,
                100,
                101,
                131,
                105,
                121,
                119,
                113,
                185,
                127,
                107,
                152,
                151,
                145,
                153,
                159,
                161,
                154,
                118,
                102,
                106,
                109,
                134,
                137,
                158,
                162,
                129,
                116,
                157,
                126,
                149,
                132,
                114,
                108,
                112,
                123,
                156,
                133,
                110,
                128,
                135,
                125,
                165,
                138,
                103,
                188,
                144,
                148,
                142,
                150,
                104,
                120,
                146,
                143,
                117,
                140,
                160,
                139,
                115,
                111,
                122,
                155,
                124,
                141,
                136,
                147,
                130,
                181,
                183,
                173,
                171,
                180,
                167,
                190,
                170,
                186,
                163,
                169,
                172,
                174,
                175,
                176,
                177,
                179,
                182,
                187,
                166,
                168,
                184,
                178,
                164,
                189
              ]
            },
            "in": "query",
            "name": "Category",
            "description": "video category (100 main TikTok categories)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "7732"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=2592000"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": ".AspNetCore.Culture=c%3Dru-RU%7Cuic%3Dru-RU; path=/"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 12 Sep 2023 11:18:56 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "stats": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "videoId": {
                                "type": "string"
                              },
                              "musicId": {
                                "type": "string"
                              },
                              "authorId": {
                                "type": "string"
                              },
                              "duetFromId": {
                                "type": "string"
                              },
                              "videoCreateTime": {
                                "type": "string"
                              },
                              "videoUrl": {
                                "type": "string"
                              },
                              "originalItem": {
                                "type": "boolean"
                              },
                              "officialItem": {
                                "type": "boolean"
                              },
                              "stickerText": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "isAd": {
                                "type": "boolean"
                              },
                              "videoTitle": {
                                "type": "string"
                              },
                              "taggetPeople": {
                                "type": "string"
                              },
                              "locationCreated": {
                                "type": "string"
                              },
                              "musicPlayUrl": {
                                "type": "string"
                              },
                              "musicTitle": {
                                "type": "string"
                              },
                              "musicOriginal": {
                                "type": "boolean"
                              },
                              "authorName": {
                                "type": "string"
                              },
                              "user": {
                                "type": "string"
                              },
                              "parser": {
                                "type": "string"
                              },
                              "likes": {
                                "type": "integer"
                              },
                              "commentsCount": {
                                "type": "integer"
                              },
                              "collectCount": {
                                "type": "integer"
                              },
                              "playCount": {
                                "type": "integer"
                              },
                              "shares": {
                                "type": "integer"
                              },
                              "parseDate": {
                                "type": "string"
                              },
                              "updateDate": {
                                "type": "string"
                              },
                              "playCountDailyRise": {
                                "type": "integer"
                              },
                              "playCountDailyRiseForecastError": {
                                "type": "integer"
                              },
                              "playCountDailyRiseForecast": {
                                "type": "integer"
                              },
                              "playCountGraphWeight": {
                                "type": "integer"
                              },
                              "videoIdLong": {
                                "type": "integer"
                              },
                              "playCountDailyRise24hours": {
                                "type": "integer"
                              },
                              "videoDuration": {
                                "type": "integer"
                              },
                              "autor_id_long": {
                                "type": "integer"
                              },
                              "music_id_long": {
                                "type": "integer"
                              },
                              "video_id_long": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "fIlters": {
                          "type": "object",
                          "properties": {
                            "skip": {
                              "type": "integer"
                            },
                            "take": {
                              "type": "integer"
                            },
                            "repostsFrom": {
                              "type": "integer"
                            },
                            "repostsTo": {
                              "type": "integer"
                            },
                            "likesFrom": {
                              "type": "integer"
                            },
                            "likesTo": {
                              "type": "integer"
                            },
                            "commentsFrom": {
                              "type": "integer"
                            },
                            "commentsTo": {
                              "type": "integer"
                            },
                            "playCountFrom": {
                              "type": "integer"
                            },
                            "playCountTo": {
                              "type": "integer"
                            },
                            "location": {
                              "type": "string"
                            },
                            "artistLocation": {
                              "type": "string"
                            },
                            "videosLocation": {
                              "type": "string"
                            },
                            "sorting": {
                              "type": "string"
                            },
                            "search": {
                              "type": "string"
                            },
                            "hashtag": {
                              "type": "string"
                            },
                            "category": {
                              "type": "integer"
                            },
                            "authorId": {
                              "type": "string"
                            },
                            "periodDate": {
                              "type": "string"
                            },
                            "trendingDate": {
                              "type": "integer"
                            },
                            "order": {
                              "type": "string"
                            },
                            "parseDateFrom": {
                              "type": "string"
                            },
                            "days": {
                              "type": "integer"
                            },
                            "riseFrom": {
                              "type": "integer"
                            },
                            "riseTo": {
                              "type": "integer"
                            },
                            "rateFrom": {
                              "type": "integer"
                            },
                            "rateTo": {
                              "type": "integer"
                            },
                            "forecastingFrom": {
                              "type": "integer"
                            },
                            "forecastingTo": {
                              "type": "integer"
                            },
                            "durationFrom": {
                              "type": "integer"
                            },
                            "durationTo": {
                              "type": "integer"
                            },
                            "dateFrom": {
                              "type": "integer"
                            },
                            "dateTo": {
                              "type": "integer"
                            }
                          }
                        },
                        "parseConfig": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "elapsedTime": {
                              "type": "integer"
                            },
                            "totalTracks": {
                              "type": "integer"
                            },
                            "totalStats": {
                              "type": "integer"
                            },
                            "newTracks": {
                              "type": "integer"
                            },
                            "tolerance": {
                              "type": "integer"
                            },
                            "parseDate": {
                              "type": "string"
                            }
                          }
                        },
                        "favoriteVideoIds": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "rowsCount": {
                          "type": "integer"
                        },
                        "totalRows": {
                          "type": "integer"
                        }
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "musicCount": {
                          "type": "integer"
                        },
                        "videoStatesCount": {
                          "type": "integer"
                        }
                      }
                    },
                    "chartData": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "musicsCountLong": {
                            "type": "integer"
                          },
                          "videosCountLong": {
                            "type": "integer"
                          },
                          "bloggersCountLong": {
                            "type": "integer"
                          },
                          "videoStatesLong": {
                            "type": "integer"
                          },
                          "bloggersStatesLong": {
                            "type": "integer"
                          },
                          "musicStatesLong": {
                            "type": "integer"
                          },
                          "totalInfluencersLong": {
                            "type": "integer"
                          },
                          "influencerClipsLong": {
                            "type": "integer"
                          },
                          "influencerLikesLong": {
                            "type": "integer"
                          },
                          "influencerFollowersLong": {
                            "type": "integer"
                          },
                          "date": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "locationCreated": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "tikTokCategories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "categoryName": {
                            "type": "string"
                          },
                          "sounds": {
                            "type": "integer"
                          },
                          "videos": {
                            "type": "integer"
                          },
                          "authors": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "worldRegions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionName": {
                            "type": "string"
                          },
                          "countryCodes": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "presetFilters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "itemType": {
                            "type": "integer"
                          },
                          "presetName": {
                            "type": "string"
                          },
                          "queryString": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "stats": [
                          {
                            "id": "ef158ec7-d82b-4266-b5b5-4b8196022385",
                            "videoId": "7333470686364667179",
                            "musicId": "7333470932280904491",
                            "authorId": "6984256592331457542",
                            "duetFromId": "0",
                            "videoCreateTime": "2024-02-09T05:32:38",
                            "videoUrl": "https://www.tiktok.com/@6984256592331457542/video/7333470686364667179",
                            "originalItem": false,
                            "officialItem": false,
                            "stickerText": null,
                            "isAd": false,
                            "videoTitle": "Me trying to dance😉😂 #foryou ",
                            "taggetPeople": null,
                            "locationCreated": null,
                            "musicPlayUrl": "https://v77.tiktokcdn.com/5f33c41af1beb784c2dd20ffb29ca6e3/65c615ba/video/tos/maliva/tos-maliva-ve-27dcd7c799-us/oYgWwIH1T4CiE7GLmLMueAeWMHpotIAAkX3eCt/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=.NpOcInz7ThmQunmXq8Zmo&mime_type=audio_mpeg&qs=6&rc=Njo5Z2U3NjtnNGRoM2g0OkBpamo1c3Q5cnd1cTMzZzU8NEA0LTZeLzEzNmExLWE2LjEtYSMuX2BgMmRrZS9gLS1kMS9zcw%3D%3D&l=20240209110816698C006AF044E62F7376&btag=e00088000&cc=13&download=true",
                            "musicTitle": "original sound",
                            "musicOriginal": true,
                            "authorName": "officialjeeya",
                            "user": "officialjeeya",
                            "parser": "Feed",
                            "likes": 231,
                            "commentsCount": 9,
                            "collectCount": 0,
                            "playCount": 2135,
                            "shares": 10,
                            "parseDate": "2024-02-09T11:08:29.522553",
                            "updateDate": "2024-02-09T11:08:29.522553",
                            "playCountDailyRise": 0,
                            "playCountDailyRiseForecastError": 0,
                            "playCountDailyRiseForecast": 0,
                            "playCountGraphWeight": 0,
                            "videoIdLong": 0,
                            "playCountDailyRise24hours": 0,
                            "videoDuration": 8,
                            "autor_id_long": 6984256592331458000,
                            "music_id_long": 7333470932280905000,
                            "video_id_long": 7333470686364667000
                          }
                        ],
                        "fIlters": {
                          "skip": 0,
                          "take": 10,
                          "repostsFrom": null,
                          "repostsTo": null,
                          "likesFrom": null,
                          "likesTo": null,
                          "commentsFrom": null,
                          "commentsTo": null,
                          "playCountFrom": null,
                          "playCountTo": null,
                          "location": null,
                          "artistLocation": null,
                          "videosLocation": null,
                          "sorting": null,
                          "search": null,
                          "hashtag": null,
                          "category": null,
                          "authorId": null,
                          "periodDate": null,
                          "trendingDate": null,
                          "order": "desc",
                          "parseDateFrom": null,
                          "days": null,
                          "riseFrom": null,
                          "riseTo": null,
                          "rateFrom": null,
                          "rateTo": null,
                          "forecastingFrom": null,
                          "forecastingTo": null,
                          "durationFrom": null,
                          "durationTo": null,
                          "dateFrom": null,
                          "dateTo": null
                        },
                        "parseConfig": {
                          "id": "15441e40-d429-4e72-52d5-08d9eda6a41d",
                          "name": "",
                          "elapsedTime": 1065,
                          "totalTracks": 271828,
                          "totalStats": 334177,
                          "newTracks": 271828,
                          "tolerance": 10,
                          "parseDate": "2022-02-12T00:00:00"
                        },
                        "favoriteVideoIds": [],
                        "rowsCount": 0,
                        "totalRows": 11
                      },
                      "statistics": {
                        "total": 42454196,
                        "musicCount": 240704,
                        "videoStatesCount": 419066065
                      },
                      "chartData": [
                        {
                          "id": "32768e2c-4a12-481c-963c-8b34f40256a1",
                          "musicsCountLong": 230043,
                          "videosCountLong": 35433436,
                          "bloggersCountLong": 400429,
                          "videoStatesLong": 349307799,
                          "bloggersStatesLong": 24039622,
                          "musicStatesLong": 30469069,
                          "totalInfluencersLong": 400429,
                          "influencerClipsLong": 269285538,
                          "influencerLikesLong": 5812299467595,
                          "influencerFollowersLong": 229128698888,
                          "date": "2024-01-15T00:01:03.425592"
                        }
                      ],
                      "locationCreated": [
                        "CH",
                        "PW",
                        "TK",
                        "AX",
                        "UY",
                        "KI",
                        "SY",
                        "GN",
                        "MW",
                        "MQ",
                        "MN",
                        "SK",
                        "LI",
                        "ZM",
                        "ER",
                        "KE",
                        "IE",
                        "PA",
                        "GT",
                        "AE",
                        "ST",
                        "MP",
                        "VI",
                        "PM",
                        "LT",
                        "TV",
                        "JP",
                        "DE",
                        "İN",
                        "GR",
                        "MZ",
                        "TJ",
                        "GS",
                        "WF",
                        "NG",
                        "WS",
                        "ET",
                        "CN",
                        "JO",
                        "GI",
                        "MC",
                        "KR",
                        "BS",
                        "SV",
                        "CI",
                        "NA",
                        "SS",
                        "KH",
                        "MT",
                        "MR",
                        "RU",
                        "MU",
                        "BG",
                        "VG",
                        "BQ",
                        "PS",
                        "HU",
                        "BL",
                        "LS",
                        "GF",
                        "FO",
                        "SR",
                        "BO",
                        "UZ",
                        "MF",
                        "LB",
                        "BA",
                        "EG",
                        "CM",
                        "BM",
                        "GL",
                        "IN",
                        "IT",
                        "IM",
                        "BH",
                        "CA",
                        "SA",
                        "DZ",
                        "HN",
                        "AT",
                        "TT",
                        "ZA",
                        "AN",
                        "BT",
                        "GA",
                        "CR",
                        "LC",
                        "RW",
                        "UG",
                        "ME",
                        "NP",
                        "ES",
                        "AW",
                        "HT",
                        "AG",
                        "VC",
                        "SO",
                        "TO",
                        "DO",
                        "KW",
                        "BY",
                        "MH",
                        "HR",
                        "AF",
                        "GW",
                        "AZ",
                        "PY",
                        "CW",
                        "NL",
                        "TG",
                        "GH",
                        "LK",
                        "NI",
                        "YE",
                        "GM",
                        "US",
                        "TD",
                        "ZW",
                        "SC",
                        "RO",
                        "BZ",
                        "GU",
                        "BF",
                        "SJ",
                        "MV",
                        "ML",
                        "HK",
                        "NZ",
                        "BI",
                        "NO",
                        "DM",
                        "LR",
                        "PE",
                        "AS",
                        "BJ",
                        "GD",
                        "TZ",
                        "MD",
                        "CF",
                        "BD",
                        "CL",
                        "LU",
                        "CO",
                        "MK",
                        "XK",
                        "AD",
                        "BB",
                        "FL",
                        "SB",
                        "MS",
                        "TM",
                        "TH",
                        "RE",
                        "IL",
                        "GB",
                        "EC",
                        "TW",
                        "SI",
                        "UA",
                        "TR",
                        "GY",
                        "RS",
                        "BN",
                        "VN",
                        "CU",
                        "QA",
                        "SZ",
                        "MM",
                        "CV",
                        "DJ",
                        "NC",
                        "EN",
                        "SM",
                        "FJ",
                        "IR",
                        "PT",
                        "TL",
                        "SE",
                        "CK",
                        "LA",
                        "SL",
                        "AQ",
                        "MY",
                        "TC",
                        "JM",
                        "NE",
                        "AL",
                        "KZ",
                        "PH",
                        "YT",
                        "FR",
                        "IQ",
                        "OM",
                        "VU",
                        "IO",
                        "LY",
                        "CY",
                        "AR",
                        "JE",
                        "BR",
                        "PK",
                        "GG",
                        "KN",
                        "AO",
                        "PF",
                        "FI",
                        "TN",
                        "SD",
                        "LV",
                        "İE",
                        "MX",
                        "KM",
                        "IS",
                        "CZ",
                        "BW",
                        "KY",
                        "VA",
                        "GE",
                        "MA",
                        "KG",
                        "VE",
                        "FM",
                        "AM",
                        "AU",
                        "CG",
                        "BE",
                        "SG",
                        "MO",
                        "UM",
                        "DK",
                        "GP",
                        "GQ",
                        "SN",
                        "MG",
                        "AI",
                        "CD",
                        "PR",
                        "PL",
                        "EE",
                        "PG",
                        "ID",
                        "FK",
                        "SX",
                        "KP",
                        "EH"
                      ],
                      "tikTokCategories": [
                        {
                          "id": 173,
                          "categoryName": "Advertisement",
                          "sounds": 3176,
                          "videos": 3724,
                          "authors": 2193
                        },
                        {
                          "id": 129,
                          "categoryName": "Animals",
                          "sounds": 52378,
                          "videos": 171192,
                          "authors": 28853
                        },
                        {
                          "id": 116,
                          "categoryName": "Anime & Comics",
                          "sounds": 43175,
                          "videos": 129699,
                          "authors": 16556
                        },
                        {
                          "id": 160,
                          "categoryName": "Art",
                          "sounds": 14183,
                          "videos": 23158,
                          "authors": 5900
                        },
                        {
                          "id": 103,
                          "categoryName": "Auto & Vehicle",
                          "sounds": 41292,
                          "videos": 116430,
                          "authors": 12840
                        },
                        {
                          "id": 146,
                          "categoryName": "Babies",
                          "sounds": 27434,
                          "videos": 70726,
                          "authors": 8984
                        },
                        {
                          "id": 143,
                          "categoryName": "Beauty",
                          "sounds": 23572,
                          "videos": 47726,
                          "authors": 13877
                        },
                        {
                          "id": 132,
                          "categoryName": "Beauty & Care",
                          "sounds": 50553,
                          "videos": 124521,
                          "authors": 27820
                        },
                        {
                          "id": 139,
                          "categoryName": "Beauty & Style",
                          "sounds": 81370,
                          "videos": 242306,
                          "authors": 46231
                        },
                        {
                          "id": 183,
                          "categoryName": "Business & Finance",
                          "sounds": 1344,
                          "videos": 2778,
                          "authors": 1228
                        },
                        {
                          "id": 117,
                          "categoryName": "Campus Life",
                          "sounds": 14768,
                          "videos": 23651,
                          "authors": 3862
                        },
                        {
                          "id": 140,
                          "categoryName": "Cars, Trucks & Motorcycles",
                          "sounds": 36116,
                          "videos": 100480,
                          "authors": 10733
                        },
                        {
                          "id": 115,
                          "categoryName": "Celebrity Clips & Variety Show",
                          "sounds": 50972,
                          "videos": 136393,
                          "authors": 21128
                        },
                        {
                          "id": 95,
                          "categoryName": "Comedy",
                          "sounds": 89999,
                          "videos": 369018,
                          "authors": 76455
                        },
                        {
                          "id": 111,
                          "categoryName": "Comics & Cartoon, Anime",
                          "sounds": 43175,
                          "videos": 129699,
                          "authors": 16556
                        },
                        {
                          "id": 121,
                          "categoryName": "Cooking",
                          "sounds": 27971,
                          "videos": 71906,
                          "authors": 15933
                        },
                        {
                          "id": 118,
                          "categoryName": "Cosplay",
                          "sounds": 9889,
                          "videos": 18982,
                          "authors": 4724
                        },
                        {
                          "id": 188,
                          "categoryName": "Culture",
                          "sounds": 97,
                          "videos": 133,
                          "authors": 59
                        },
                        {
                          "id": 109,
                          "categoryName": "Culture & Education & Technology",
                          "sounds": 28686,
                          "videos": 54541,
                          "authors": 18435
                        },
                        {
                          "id": 97,
                          "categoryName": "Daily Life",
                          "sounds": 116109,
                          "videos": 344965,
                          "authors": 67316
                        },
                        {
                          "id": 136,
                          "categoryName": "Dance",
                          "sounds": 18916,
                          "videos": 83437,
                          "authors": 13256
                        },
                        {
                          "id": 122,
                          "categoryName": "Diary & VLOG",
                          "sounds": 56885,
                          "videos": 115415,
                          "authors": 37631
                        },
                        {
                          "id": 161,
                          "categoryName": "DIY & Handcrafts",
                          "sounds": 7291,
                          "videos": 10676,
                          "authors": 3163
                        },
                        {
                          "id": 157,
                          "categoryName": "Drinks",
                          "sounds": 12525,
                          "videos": 21554,
                          "authors": 6938
                        },
                        {
                          "id": 144,
                          "categoryName": "Education",
                          "sounds": 10203,
                          "videos": 18338,
                          "authors": 8146
                        },
                        {
                          "id": 90,
                          "categoryName": "Entertainment",
                          "sounds": 142446,
                          "videos": 740623,
                          "authors": 96244
                        },
                        {
                          "id": 110,
                          "categoryName": "Entertainment Culture",
                          "sounds": 111129,
                          "videos": 414894,
                          "authors": 60504
                        },
                        {
                          "id": 167,
                          "categoryName": "Entertainment News",
                          "sounds": 5555,
                          "videos": 8888,
                          "authors": 3448
                        },
                        {
                          "id": 190,
                          "categoryName": "Environmental Protections",
                          "sounds": 356,
                          "videos": 419,
                          "authors": 278
                        },
                        {
                          "id": 155,
                          "categoryName": "Extreme Sports",
                          "sounds": 14811,
                          "videos": 26075,
                          "authors": 4830
                        },
                        {
                          "id": 113,
                          "categoryName": "Family",
                          "sounds": 44006,
                          "videos": 121779,
                          "authors": 19771
                        },
                        {
                          "id": 102,
                          "categoryName": "Family & Relationship",
                          "sounds": 67482,
                          "videos": 200005,
                          "authors": 33859
                        },
                        {
                          "id": 170,
                          "categoryName": "Farm Animals",
                          "sounds": 11316,
                          "videos": 20703,
                          "authors": 2989
                        },
                        {
                          "id": 120,
                          "categoryName": "Finger Dance & Basic Dance",
                          "sounds": 51263,
                          "videos": 224548,
                          "authors": 37772
                        },
                        {
                          "id": 186,
                          "categoryName": "Fishing, Hunting & Camping",
                          "sounds": 3067,
                          "videos": 5296,
                          "authors": 1330
                        },
                        {
                          "id": 151,
                          "categoryName": "Fitness",
                          "sounds": 19689,
                          "videos": 46292,
                          "authors": 8425
                        },
                        {
                          "id": 159,
                          "categoryName": "Fitness & Health",
                          "sounds": 24621,
                          "videos": 56495,
                          "authors": 12365
                        },
                        {
                          "id": 156,
                          "categoryName": "Food Display",
                          "sounds": 16862,
                          "videos": 29165,
                          "authors": 8512
                        },
                        {
                          "id": 138,
                          "categoryName": "Food & Drink",
                          "sounds": 53464,
                          "videos": 151821,
                          "authors": 32243
                        },
                        {
                          "id": 164,
                          "categoryName": "Food Tour & Recommendations",
                          "sounds": 5321,
                          "videos": 8270,
                          "authors": 3137
                        },
                        {
                          "id": 99,
                          "categoryName": "Games",
                          "sounds": 47035,
                          "videos": 180194,
                          "authors": 26174
                        },
                        {
                          "id": 149,
                          "categoryName": "Graphic Art",
                          "sounds": 11081,
                          "videos": 17766,
                          "authors": 4190
                        },
                        {
                          "id": 123,
                          "categoryName": "Hair",
                          "sounds": 27621,
                          "videos": 52972,
                          "authors": 13751
                        },
                        {
                          "id": 180,
                          "categoryName": "Health & Wellness",
                          "sounds": 6194,
                          "videos": 10203,
                          "authors": 4388
                        },
                        {
                          "id": 94,
                          "categoryName": "Hilarious Fails",
                          "sounds": 491,
                          "videos": 64,
                          "authors": 1252
                        },
                        {
                          "id": 119,
                          "categoryName": "Home & Garden",
                          "sounds": 19672,
                          "videos": 34881,
                          "authors": 8687
                        },
                        {
                          "id": 147,
                          "categoryName": "Humanities",
                          "sounds": 4269,
                          "videos": 6834,
                          "authors": 3578
                        },
                        {
                          "id": 177,
                          "categoryName": "Life Hacks",
                          "sounds": 1967,
                          "videos": 2858,
                          "authors": 1623
                        },
                        {
                          "id": 96,
                          "categoryName": "Lifestyle",
                          "sounds": 132927,
                          "videos": 518909,
                          "authors": 88805
                        },
                        {
                          "id": 108,
                          "categoryName": "Lip-sync",
                          "sounds": 127585,
                          "videos": 1112029,
                          "authors": 87434
                        },
                        {
                          "id": 166,
                          "categoryName": "Magic",
                          "sounds": 925,
                          "videos": 1710,
                          "authors": 756
                        },
                        {
                          "id": 162,
                          "categoryName": "Motivation",
                          "sounds": 6971,
                          "videos": 13617,
                          "authors": 4361
                        },
                        {
                          "id": 124,
                          "categoryName": "Movies & TV works",
                          "sounds": 45675,
                          "videos": 113289,
                          "authors": 21171
                        },
                        {
                          "id": 126,
                          "categoryName": "Mukbangs & Tasting",
                          "sounds": 11535,
                          "videos": 20926,
                          "authors": 9780
                        },
                        {
                          "id": 128,
                          "categoryName": "Music",
                          "sounds": 58838,
                          "videos": 155696,
                          "authors": 26802
                        },
                        {
                          "id": 165,
                          "categoryName": "Nail Art",
                          "sounds": 6866,
                          "videos": 12191,
                          "authors": 2339
                        },
                        {
                          "id": 125,
                          "categoryName": "Natural Environment",
                          "sounds": 8238,
                          "videos": 15595,
                          "authors": 1968
                        },
                        {
                          "id": 137,
                          "categoryName": "Nature",
                          "sounds": 57485,
                          "videos": 186787,
                          "authors": 30446
                        },
                        {
                          "id": 93,
                          "categoryName": "Non-Video Games",
                          "sounds": 8903,
                          "videos": 25425,
                          "authors": 10705
                        },
                        {
                          "id": 176,
                          "categoryName": "Oddly Satisfying",
                          "sounds": 2637,
                          "videos": 5799,
                          "authors": 2759
                        },
                        {
                          "id": 106,
                          "categoryName": "Others",
                          "sounds": 152150,
                          "videos": 861670,
                          "authors": 77859
                        },
                        {
                          "id": 181,
                          "categoryName": "Other Talent",
                          "sounds": 2377,
                          "videos": 3138,
                          "authors": 1448
                        },
                        {
                          "id": 185,
                          "categoryName": "Outdoor Activities",
                          "sounds": 3067,
                          "videos": 5296,
                          "authors": 1330
                        },
                        {
                          "id": 98,
                          "categoryName": "Outfit",
                          "sounds": 54094,
                          "videos": 118944,
                          "authors": 26185
                        },
                        {
                          "id": 100,
                          "categoryName": "Performance",
                          "sounds": 160641,
                          "videos": 1383332,
                          "authors": 128508
                        },
                        {
                          "id": 130,
                          "categoryName": "Pets",
                          "sounds": 38334,
                          "videos": 125242,
                          "authors": 22448
                        },
                        {
                          "id": 171,
                          "categoryName": "Photography",
                          "sounds": 5971,
                          "videos": 8294,
                          "authors": 2807
                        },
                        {
                          "id": 178,
                          "categoryName": "Pranks",
                          "sounds": 4563,
                          "videos": 8782,
                          "authors": 6029
                        },
                        {
                          "id": 175,
                          "categoryName": "Professional Personal Development",
                          "sounds": 3219,
                          "videos": 5127,
                          "authors": 2112
                        },
                        {
                          "id": 187,
                          "categoryName": "Professional Special Effects",
                          "sounds": 927,
                          "videos": 1259,
                          "authors": 700
                        },
                        {
                          "id": 142,
                          "categoryName": "Random Shoot",
                          "sounds": 151309,
                          "videos": 857946,
                          "authors": 76226
                        },
                        {
                          "id": 163,
                          "categoryName": "Recreation Facilities",
                          "sounds": 4963,
                          "videos": 7276,
                          "authors": 2283
                        },
                        {
                          "id": 101,
                          "categoryName": "Relationship",
                          "sounds": 41394,
                          "videos": 93165,
                          "authors": 21102
                        },
                        {
                          "id": 91,
                          "categoryName": "Romance",
                          "sounds": 40324,
                          "videos": 90580,
                          "authors": 20709
                        },
                        {
                          "id": 133,
                          "categoryName": "Scenery & Plants",
                          "sounds": 8238,
                          "videos": 15595,
                          "authors": 1968
                        },
                        {
                          "id": 141,
                          "categoryName": "School Education",
                          "sounds": 2346,
                          "videos": 3517,
                          "authors": 1256
                        },
                        {
                          "id": 174,
                          "categoryName": "Science",
                          "sounds": 148,
                          "videos": 82,
                          "authors": 1009
                        },
                        {
                          "id": 112,
                          "categoryName": "Scripted Comedy",
                          "sounds": 14803,
                          "videos": 33744,
                          "authors": 17818
                        },
                        {
                          "id": 168,
                          "categoryName": "Scripted Drama",
                          "sounds": 12830,
                          "videos": 26411,
                          "authors": 9902
                        },
                        {
                          "id": 92,
                          "categoryName": "Selfies",
                          "sounds": 42276,
                          "videos": 97250,
                          "authors": 14288
                        },
                        {
                          "id": 105,
                          "categoryName": "Singing & Dancing",
                          "sounds": 67269,
                          "videos": 344015,
                          "authors": 53246
                        },
                        {
                          "id": 131,
                          "categoryName": "Singing & Instruments",
                          "sounds": 16278,
                          "videos": 36030,
                          "authors": 13511
                        },
                        {
                          "id": 153,
                          "categoryName": "Social Issues",
                          "sounds": 11186,
                          "videos": 25242,
                          "authors": 7671
                        },
                        {
                          "id": 182,
                          "categoryName": "Social News",
                          "sounds": 2186,
                          "videos": 4444,
                          "authors": 1649
                        },
                        {
                          "id": 150,
                          "categoryName": "Society",
                          "sounds": 15773,
                          "videos": 38398,
                          "authors": 12563
                        },
                        {
                          "id": 152,
                          "categoryName": "Software & APPs",
                          "sounds": 4573,
                          "videos": 6017,
                          "authors": 2264
                        },
                        {
                          "id": 107,
                          "categoryName": "Sport & Outdoor",
                          "sounds": 66068,
                          "videos": 226862,
                          "authors": 31510
                        },
                        {
                          "id": 104,
                          "categoryName": "Sports",
                          "sounds": 50788,
                          "videos": 165071,
                          "authors": 19349
                        },
                        {
                          "id": 172,
                          "categoryName": "Sports News",
                          "sounds": 3761,
                          "videos": 7019,
                          "authors": 2158
                        },
                        {
                          "id": 179,
                          "categoryName": "Street Interviews & Social Experiments",
                          "sounds": 3688,
                          "videos": 8293,
                          "authors": 4075
                        },
                        {
                          "id": 158,
                          "categoryName": "Supernatural & Horror",
                          "sounds": 1220,
                          "videos": 3634,
                          "authors": 1950
                        },
                        {
                          "id": 134,
                          "categoryName": "Talents",
                          "sounds": 83785,
                          "videos": 387890,
                          "authors": 63215
                        },
                        {
                          "id": 148,
                          "categoryName": "Technology",
                          "sounds": 12173,
                          "videos": 19211,
                          "authors": 6181
                        },
                        {
                          "id": 169,
                          "categoryName": "Tech Products & Infos",
                          "sounds": 8144,
                          "videos": 13194,
                          "authors": 4298
                        },
                        {
                          "id": 184,
                          "categoryName": "Theatre & Stage",
                          "sounds": 453,
                          "videos": 629,
                          "authors": 261
                        },
                        {
                          "id": 135,
                          "categoryName": "Toys & Collectables",
                          "sounds": 13346,
                          "videos": 27473,
                          "authors": 5492
                        },
                        {
                          "id": 189,
                          "categoryName": "Traditional Culture",
                          "sounds": 97,
                          "videos": 133,
                          "authors": 59
                        },
                        {
                          "id": 114,
                          "categoryName": "Traditional Sports",
                          "sounds": 41658,
                          "videos": 131977,
                          "authors": 14626
                        },
                        {
                          "id": 127,
                          "categoryName": "Travel",
                          "sounds": 13272,
                          "videos": 26264,
                          "authors": 6373
                        },
                        {
                          "id": 145,
                          "categoryName": "Video Games",
                          "sounds": 40881,
                          "videos": 154767,
                          "authors": 16384
                        },
                        {
                          "id": 154,
                          "categoryName": "Work & Jobs",
                          "sounds": 17347,
                          "videos": 30370,
                          "authors": 7725
                        }
                      ],
                      "worldRegions": [
                        {
                          "regionName": "Africa",
                          "countryCodes": "AO,BF,BI,BJ,BW,CD,CF,CG,CI,CM,CV,DJ,DZ,EG,EH,ER,ET,GA,GH,GM,GN,GQ,GW,IO,KE,KM,LR,LS,LY,MA,MG,ML,MR,MU,MW,MZ,NA,NE,NG,RE,RW,SC,SD,SH,SL,SN,SO,SS,ST,SZ,TD,TG,TN,TZ,UG,YT,ZA,ZM,ZW"
                        },
                        {
                          "regionName": "Asia",
                          "countryCodes": "AE,AF,AM,AQ,AZ,BD,BH,BN,BT,CN,CY,GE,HK,HM,ID,IL,IN,IQ,IR,JO,JP,KG,KH,KP,KR,KW,KZ,LA,LB,LK,MM,MN,MO,MV,MY,NP,OM,PH,PK,PS,QA,SA,SG,SY,TH,TJ,TL,TM,TR,TW,UZ,VN,YE"
                        },
                        {
                          "regionName": "Europe",
                          "countryCodes": "AC,AD,AL,AT,AX,BA,BE,BG,BV,BY,CH,CZ,DE,DK,EE,ES,FI,FO,FR,GB,GG,GI,GR,GS,HR,HU,IE,IM,IS,IT,JE,LI,LT,LU,LV,MC,MD,ME,MK,MT,NL,NO,PL,PT,RO,RS,RU,SE,SI,SJ,SK,SM,TF,UA,VA"
                        },
                        {
                          "regionName": "North America",
                          "countryCodes": "AG,AI,AW,BB,BL,BM,BQ,BS,BZ,CA,CR,CU,CW,DM,DO,GD,GL,GP,GT,HN,HT,JM,KN,KY,LC,MF,MQ,MS,MX,NI,PA,PM,PR,SV,SX,TC,TT,US,VC,VG,VI"
                        },
                        {
                          "regionName": "Oceania",
                          "countryCodes": "AS,AU,CC,CK,CX,FJ,FM,GU,KI,MH,MP,NC,NF,NR,NU,NZ,PF,PG,PN,PW,SB,TK,TO,TV,UM,VU,WF,WS"
                        },
                        {
                          "regionName": "South America",
                          "countryCodes": "AR,BO,BR,CL,CO,EC,FK,GF,GY,PE,PY,SR,UY,VE"
                        }
                      ],
                      "presetFilters": [
                        {
                          "id": "91a2834e-c6b7-4e93-9383-09437bbde7ad",
                          "itemType": 1,
                          "presetName": "Top video month World",
                          "queryString": "sorting=rate&days=30&order=desc&take=20&periodDate=30"
                        },
                        {
                          "id": "e01baa39-dbfb-4891-8b99-7729655e657c",
                          "itemType": 1,
                          "presetName": "Top video week World",
                          "queryString": "sorting=rate&days=7&order=desc&take=20&periodDate=7"
                        },
                        {
                          "id": "a09f3684-1b3f-4abc-95d0-a1c4e60edbdd",
                          "itemType": 1,
                          "presetName": "Top video week CA",
                          "queryString": "sorting=rate&days=7&order=desc&take=20&videosLocation=CA&periodDate=7"
                        },
                        {
                          "id": "decf3f3e-e256-4b5f-b361-e4e01e424ad6",
                          "itemType": 1,
                          "presetName": "Top video week USA",
                          "queryString": "sorting=rate&days=7&order=desc&take=20&videosLocation=US&periodDate=7"
                        },
                        {
                          "id": "e5a44ce0-fd72-4a32-84e6-f359f4f5c4c9",
                          "itemType": 1,
                          "presetName": "Top video week UK",
                          "queryString": "sorting=rate&days=7&order=desc&take=20&videosLocation=GB&periodDate=7"
                        },
                        {
                          "id": "9a36b898-672c-4570-9013-7c9b5eb9ea74",
                          "itemType": 1,
                          "presetName": "Rised video week World",
                          "queryString": "sorting=rise&days=7&order=desc&take=20&periodDate=7"
                        },
                        {
                          "id": "39d02114-4947-475f-8e75-961a0f31d63b",
                          "itemType": 1,
                          "presetName": "Rised video week USA",
                          "queryString": "sorting=rise&days=7&order=desc&take=20&videosLocation=US&periodDate=7"
                        },
                        {
                          "id": "18077ce1-3918-4e58-836c-3387d55774c8",
                          "itemType": 1,
                          "presetName": "Rised video week AU",
                          "queryString": "sorting=rise&days=7&order=desc&take=20&videosLocation=AU&periodDate=7"
                        },
                        {
                          "id": "d4f5c863-6ed8-4ea5-8a4b-8faecfb89ebc",
                          "itemType": 1,
                          "presetName": "Rised video week UAE",
                          "queryString": "sorting=rise&days=7&order=desc&take=20&videosLocation=UAE&periodDate=7"
                        },
                        {
                          "id": "bc8866dc-1310-445b-8bf0-d472947811f8",
                          "itemType": 1,
                          "presetName": "Top Liked month World",
                          "queryString": "sorting=likes&periodDate=30&days=&order=desc&take=20"
                        },
                        {
                          "id": "6ea1cf01-9e61-460b-82d8-ee3c08c7ad21",
                          "itemType": 1,
                          "presetName": "Top Comments month World",
                          "queryString": "sorting=comments&periodDate=30&days=&order=desc&take=20"
                        },
                        {
                          "id": "d9c1a70d-af74-443a-8205-3e6a6f16f981",
                          "itemType": 1,
                          "presetName": "Top Shared month World",
                          "queryString": "sorting=shares&periodDate=30&days=&order=desc&take=20"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/datapoint/VideoData": {
      "get": {
        "tags": [
          "video"
        ],
        "summary": "Get video info by id",
        "parameters": [
          {
            "name": "videoId",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 7321803406396411000
            },
            "example": 7321803406396411000,
            "description": "videoId"
          },
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s",
            "description": "Token for data access"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "3352"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=2592000"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": ".AspNetCore.Culture=c%3Dru-RU%7Cuic%3Dru-RU; path=/"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 14 Sep 2023 07:50:17 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projection": {
                      "type": "object",
                      "properties": {
                        "Views": {
                          "type": "integer"
                        },
                        "Сomments": {
                          "type": "integer"
                        },
                        "Likes": {
                          "type": "integer"
                        },
                        "Shares": {
                          "type": "integer"
                        },
                        "Collect": {
                          "type": "integer"
                        },
                        "Hashtags": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "projection": {
                        "Views": 160100000,
                        "Сomments": 180700,
                        "Likes": 8800000,
                        "Shares": 257400,
                        "Collect": 257400,
                        "Hashtags": "Moonlight"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/datapoint/sounds": {
      "get": {
        "tags": [
          "sounds"
        ],
        "summary": "Get sounds",
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s",
            "description": "Token for data access"
          },
          {
            "schema": {
              "type": "string",
              "example": "rise",
              "default": "new",
              "enum": [
                "new",
                "rise",
                "rate",
                "reposts",
                "forecasting"
              ]
            },
            "in": "query",
            "name": "sorting",
            "allowEmptyValue": true,
            "description": "sorting of items"
          },
          {
            "schema": {
              "type": "integer",
              "default": "10",
              "example": "100"
            },
            "in": "query",
            "name": "take",
            "description": "how much items to get"
          },
          {
            "schema": {
              "type": "string",
              "example": "Original",
              "enum": [
                "Original",
                "Repost"
              ]
            },
            "in": "query",
            "name": "soundType",
            "description": "original sound or not"
          },
          {
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 7,
              "enum": [
                1,
                3,
                7,
                30,
                90
              ]
            },
            "in": "query",
            "name": "Days",
            "description": "time period for Daily rise"
          },
          {
            "schema": {
              "type": "string",
              "example": "US"
            },
            "in": "query",
            "name": "VideosLocation",
            "description": "location of videos, where they was created (use ISO 3166-1 alpha-2 for country  code)"
          },
          {
            "schema": {
              "type": "integer",
              "example": 95,
              "enum": [
                90,
                91,
                92,
                93,
                94,
                95,
                96,
                97,
                98,
                99,
                100,
                101,
                131,
                105,
                121,
                119,
                113,
                185,
                127,
                107,
                152,
                151,
                145,
                153,
                159,
                161,
                154,
                118,
                102,
                106,
                109,
                134,
                137,
                158,
                162,
                129,
                116,
                157,
                126,
                149,
                132,
                114,
                108,
                112,
                123,
                156,
                133,
                110,
                128,
                135,
                125,
                165,
                138,
                103,
                188,
                144,
                148,
                142,
                150,
                104,
                120,
                146,
                143,
                117,
                140,
                160,
                139,
                115,
                111,
                122,
                155,
                124,
                141,
                136,
                147,
                130,
                181,
                183,
                173,
                171,
                180,
                167,
                190,
                170,
                186,
                163,
                169,
                172,
                174,
                175,
                176,
                177,
                179,
                182,
                187,
                166,
                168,
                184,
                178,
                164,
                189
              ]
            },
            "in": "query",
            "name": "Category",
            "description": "video category (100 main TikTok categories)"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "artist",
                "notartist"
              ],
              "example": "artist"
            },
            "in": "query",
            "name": "isArtist",
            "description": "is Artist author of sound or not"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "stats": [
                          {
                            "music": {
                              "musicId": "7078311682217036545",
                              "reposts": 663,
                              "duration": 5,
                              "album": "",
                              "url": "https://v77.tiktokcdn.com/8cd7ee9a7fdad45348788d345287bde3/64ff5d6d/video/tos/alisg/tos-alisg-v-27dcd7/9c0f4dcf777844be8e0af0fedbde10dd/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TBkLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=ZGg1NztoOWU6aWZnOzk5Z0BpajNwNTY6ZnltOzMzODU8NEBgLWEuMTYuXjIxNS5fYzE1YSM1anJscjRfYXFgLS1kMS1zcw%3D%3D&l=20230911173311ABAB3403CADD25627CAA&btag=e00088000&cc=13&download=true",
                              "title": "оригинальный звук - Ирина Елисеева",
                              "creator": "Ирина Елисеева",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:22:56.325545",
                              "updateDate": "2023-09-11T15:22:56.325545",
                              "parser": "SoundItem",
                              "dailyRise": 0,
                              "artistRegion": "RU"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7263669589697940230",
                              "reposts": 1590,
                              "duration": 23,
                              "album": "",
                              "url": "https://v16m.tiktokcdn-us.com/070504ed4b16e88bbc3a2fcd4f74a6a2/64ffa3cf/video/tos/useast5/tos-useast5-ve-27dcd7c799-tx/oEBJmLPuQCCHmPPT2oEgY1e513NUKekoQteTSv/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=t5PLr-Inz7TBkLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=NGY2OTllZ2lmOmU7ZjY4OkBpajxvcjw6ZjV1bTMzNzU8M0A0NDU1X2JiXzAxXzIzNWEuYSM0azBzcjRnbjNgLS1kMTZzcw%3D%3D&l=2023091117331258567F4F7A36C5072F91&btag=e00008000&download=true",
                              "title": "sonido original",
                              "creator": "AldairCarrillo",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:22:56.325545",
                              "updateDate": "2023-09-11T15:22:56.325545",
                              "parser": "SoundItem",
                              "dailyRise": 0,
                              "artistRegion": "CO"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7263435533275515650",
                              "reposts": 94,
                              "duration": 11,
                              "album": "",
                              "url": "https://v77.tiktokcdn.com/c29f82ecbb53393a3a8a830bd686a6db/65008d6e/video/tos/alisg/tos-alisg-v-27dcd7/oIfZJOWfkQQpUuBZ0Bz8dGgDYunFjzCDkgbPEI/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TLUKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=ODY7ZWc8NTo4Omc6ODZpM0BpanloZjk6ZjxobTMzODU8NEAxNDQvNDMwXjMxNTBjMDJeYSNpLmVgcjQwZDNgLS1kMS1zcw%3D%3D&l=20230912101009ABB29D828E354B8475CC&btag=e00088000&cc=13&download=true",
                              "title": "오리지널 사운드 - enhypen",
                              "creator": "enhypen",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:22:56.325545",
                              "updateDate": "2023-09-12T10:10:26.312805",
                              "parser": "SoundItem",
                              "dailyRise": 0,
                              "artistRegion": "KR"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7275144337172384517",
                              "reposts": 21,
                              "duration": 55,
                              "album": "",
                              "url": "https://v77.tiktokcdn.com/95db366458eca57a897f0a588bd9bfa8/65004748/video/tos/useast2a/tos-useast2a-v-27dcd7/oQJsbCn96gPBUeJhk3x9EbJUQQ52BmLYOeJoDy/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TYUKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=PDhnNjtpZmllN2kzOjVkOEBpanI2djc6Zmk7bTMzNzU8M0BjNGIwMWIyXi4xXjZjNTZfYSNyZm5xcjRfL29gLS1kMTZzcw%3D%3D&l=202309121010074F4D1283F8F65900A610&btag=e00088000&cc=13&download=true",
                              "title": "som original",
                              "creator": "Pop Mundo News",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:22:56.325545",
                              "updateDate": "2023-09-12T10:10:26.312805",
                              "parser": "SoundItem",
                              "dailyRise": 0,
                              "artistRegion": "BR"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7184117852214692613",
                              "reposts": 21900,
                              "duration": 45,
                              "album": "",
                              "url": "https://v77.tiktokcdn.com/2caacbb426ddff896eb676c6a2e46fd5/65004737/video/tos/useast2a/tos-useast2a-v-27dcd7/owbHSLAdjSBcEfPzBYeDQ0nnUsCJ5y8UI0btJx/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TSFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=OjloOGhoNjQ5Ojg1ZzNlZ0Bpanl5NmY6ZjxraDMzNzU8M0BiMzUwNDU2Ni0xLzY0NF5iYSNiYWBhcjRvbm1gLS1kMTZzcw%3D%3D&l=202309121010009E90E7C4AB678D029470&btag=e00088000&cc=13&download=true",
                              "title": "الصوت الأصلي",
                              "creator": "ياسر عبد الوهاب",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:22:25.892215",
                              "updateDate": "2023-09-12T10:10:26.312805",
                              "parser": "SoundItem",
                              "dailyRise": 100,
                              "artistRegion": "IQ"
                            }
                          },
                          {
                            "music": {
                              "musicId": "6968741171635964674",
                              "reposts": 2652,
                              "duration": 39,
                              "album": "",
                              "url": "https://v58.tiktokcdn.com/video/tos/alisg/tos-alisg-v-27dcd7/58b3b8bcab4e491eaa5e9e0d6d28be0f/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TSFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=Zmg7ZWdoMzs7aDY0ZmU4NUBpajZ5dnI7dGp5NTMzODU8M0A2MjItYWE2NTMxYzFfMjIwYSNvMmgwX2twL25gLS1kMTRzcw%3D%3D&l=2023091210100167038A8998151D81108B&VExpiration=1694535041&VSignature=7KJfWhtXzvmt7imVV7qFmQ&btag=e00088000&cc=14&download=true",
                              "title": "оригинальный звук",
                              "creator": "☘️",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:22:25.892215",
                              "updateDate": "2023-09-12T10:10:26.312805",
                              "parser": "SoundItem",
                              "dailyRise": 1,
                              "artistRegion": "KZ"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7017470020582263554",
                              "reposts": 113900,
                              "duration": 22,
                              "album": "",
                              "url": "https://v16m.tiktokcdn-us.com/0941c8098ab091890faa3bfc3de39d27/64ffa3ce/video/tos/useast5/tos-useast5-v-27dcd7c799-tx/b2ac22157a0e4c87a196f0736589fc96/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=t5PLr-Inz7TBkLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=Mzc7ZDM0aTVpaDg6ZTY2NkBpajR4Ojo6ZnFqODMzODU8NEAwMzE0Xl4uX2AxLy4xNjRjYSNlYDVgcjRnc2VgLS1kMS1zcw%3D%3D&l=202309111733120F4937728D0068017629&btag=e00008000&download=true",
                              "title": "original sound",
                              "creator": "🎵MUSIC🎵",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:21:24.835962",
                              "updateDate": "2023-09-11T15:21:24.835962",
                              "parser": "SoundItem",
                              "dailyRise": 0,
                              "artistRegion": "NP"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7273693565233203973",
                              "reposts": 90,
                              "duration": 56,
                              "album": "",
                              "url": "https://v77.tiktokcdn.com/69264cfa2703d5ba986014a239f77d8f/64ffa3f1/video/tos/useast2a/tos-useast2a-v-27dcd7/o0ciqqziIfCzMmBemNhJOWUvBHKNtJXxkncnQi/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TikLUfiyq8Z&mime_type=audio_mpeg&qs=6&rc=ZTxoNTY1aDVoOjZnaGhmaEBpMzV4PDo6ZmtvbTMzNzU8M0AxXzQ1YmEyXi4xLjRfYzM0YSNnMm5icjRfZ2xgLS1kMTZzcw%3D%3D&l=202309111733119CFED1B645D3142BE28B&btag=e00088000&cc=13&download=true",
                              "title": "original sound - MARVINTRENDS",
                              "creator": "MARVINTRENDS",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:21:24.835962",
                              "updateDate": "2023-09-11T15:21:24.835962",
                              "parser": "SoundItem",
                              "dailyRise": 0,
                              "artistRegion": "PH"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7265394417346530049",
                              "reposts": 89,
                              "duration": 15,
                              "album": "",
                              "url": "https://v77.tiktokcdn.com/8b297b5b442894102fecd7c35b1ad700/650046fc/video/tos/alisg/tos-alisg-v-27dcd7/ogDvDfUNJkhpnQBXB7zTS2f99cd0gCDIjA3rMU/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TzFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=aTwzPDM7MzdmZ2YzZzg1OEBpM2lnajY6Zml3bTMzODU8NEAzMC0yMjA0XzYxMjQwMV5fYSNeMnNlcjRnbzZgLS1kMS1zcw%3D%3D&l=20230912100932CCFE9FDFD7D92F00C8D6&btag=e00088000&cc=13&download=true",
                              "title": "оригинальный звук",
                              "creator": "Елена",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:20:54.739817",
                              "updateDate": "2023-09-12T10:09:45.313308",
                              "parser": "SoundItem",
                              "dailyRise": 0,
                              "artistRegion": "US"
                            }
                          },
                          {
                            "music": {
                              "musicId": "7275849343784061701",
                              "reposts": 193,
                              "duration": 22,
                              "album": "",
                              "url": "https://v16m.tiktokcdn.com/644fd777712eb2a6da6b18b12559e93d/65008d4b/video/tos/useast2a/tos-useast2a-v-27dcd7/oMeEICDQOenBTWgAJ5ZIeByCbUSLPJYoB7QuuX/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&bti=NDU3ZjAwOg%3D%3D&ft=d2A~l-Inz7TFFKmZiyq8Z&mime_type=audio_mpeg&qs=6&rc=NjhlOmc0ZDo4M2g6NDg8OUBpMzNwZ2Q6ZnVqbTMzNzU8M0AxLmJjM14yXjIxYTVgXy8uYSMvNW9icjRnMXBgLS1kMTZzcw%3D%3D&l=20230912100924A5C3A105324545839825&btag=e00088000&cc=3&download=true",
                              "title": "som original",
                              "creator": "~isa (Lana's version)",
                              "musicOriginal": true,
                              "parseDate": "2023-09-11T15:20:24.439666",
                              "updateDate": "2023-09-12T10:09:45.313308",
                              "parser": "SoundItem",
                              "dailyRise": 2,
                              "artistRegion": "BR"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": 7732
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=2592000"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": ".AspNetCore.Culture=c%3Dru-RU%7Cuic%3Dru-RU; path=/"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 12 Sep 2023 11:18:56 GMT"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://flaidata.tiktok-alltrends.com:442"
          }
        ]
      }
    },
    "/api/datapoint/soundsextended": {
      "get": {
        "tags": [
          "sounds"
        ],
        "summary": "Get sounds extended",
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJEYXRhUG9pbnRTZWNyZXQiOiI0NWUxY2UyNy05Y2UzLTQ0ZjQtYTAzNC0wM2MzZGE1M2VlZTMiLCJuYmYiOjE3MDc3MzAxNjAsImV4cCI6MTcxMDIzNTc2MCwiaWF0IjoxNzA3NzMwMTYwLCJpc3MiOiJTZXJ2ZXIiLCJhdWQiOiJDbGllbnQifQ.-LS9fpGKWsXzIzMTrcIUEq67t3mEy3auVL5-GbkN20s",
            "description": "Token for data access"
          },
          {
            "schema": {
              "type": "string",
              "example": "rise",
              "default": "new",
              "enum": [
                "new",
                "rise",
                "rate",
                "reposts",
                "forecasting"
              ]
            },
            "in": "query",
            "name": "sorting",
            "allowEmptyValue": true,
            "description": "sorting of items"
          },
          {
            "schema": {
              "type": "integer",
              "default": "10",
              "example": "100"
            },
            "in": "query",
            "name": "take",
            "description": "how much items to get"
          },
          {
            "schema": {
              "type": "string",
              "example": "Original",
              "enum": [
                "Original",
                "Repost"
              ]
            },
            "in": "query",
            "name": "soundType",
            "description": "original sound or not"
          },
          {
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 7,
              "enum": [
                1,
                3,
                7,
                30,
                90
              ]
            },
            "in": "query",
            "name": "Days",
            "description": "time period for Daily rise"
          },
          {
            "schema": {
              "type": "string",
              "example": "US"
            },
[...]
